/* Importação de fonte via Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');


/* Exemplo de Reset de CSS */
*{
    margin: 0;
    padding: 0;
}

body {
    
    /* Fazer com que a página ocupe a página toda */
    height: 100vh;
    /* Propriedade responsavel por manter o conteúdo dentro do Body */
    box-sizing: border-box;

    background-color: #000000;
    color: #F6F6F6;
}

.titulo-destaque{
    color: #22d4fd;
}

.container-main{

    margin: 10% 15%;

    /* Aplicação de flexbox e containers*/
    display: flex;
    /* Centralização*/
    align-items: center;
    /* Separar elementos em um pequeno espaçamento*/
    justify-content: space-between;
}

.container-main-content{
    /* Alterando a largura baseado no tamanho fornecido no Figma */
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.container-main-content-title{
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}

.container-main-content-text{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.container-main-content-buttom{
    display: flex;
    justify-content: space-between;
}

.container-main-content-buttom-link{
    background-color: #22d4fd;
    width: 280px;
    padding: 21.5px 0px;
    text-align: center;
    font-size: 24px;
    border-radius: 16px;
    text-decoration: none;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}