/* Importação de fonte via Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --main-color: #000000;
    --secondary-color: #F6F6F6;
    --other-color: #22D4FD;
    --hover-color: #272727;

    --primary-font:'Krona One', sans-serif;
    --secondary-font:"Montserrat", sans-serif;
}

/* Exemplo de Reset de CSS */
*{
    margin: 0;
    padding: 0;
}

body {
    
    /* Fazer com que a página ocupe a página toda */
    /* height: 100vh; */
    /* Propriedade responsavel por manter o conteúdo dentro do Body */
    box-sizing: border-box;

    background-color: var(--main-color);
    color: var(--secondary-color);
}

.container-header{
    /* Top, Right, Bottom e Left */
    padding: 2% 0% 0% 15%;
}

.container-header-nav{
    display: flex;
    gap: 80px;
}
.container-header-nav-link{
    font-family: var(--secondary-font);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--other-color);
    text-decoration: none;
}


.container-main{

    padding: 5% 15%;

    /* Aplicação de flexbox e containers*/
    display: flex;
    /* Centralização*/
    align-items: center;
    /* Separar elementos em um pequeno espaçamento*/
    justify-content: space-between;
    gap: 82px;
}

.container-main-content{
    /* Alterando a largura baseado no tamanho fornecido no Figma */
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.container-main-content-title{
    font-size: 2.25rem;
    font-family: var(--primary-font);
}
.titulo-destaque{
    color: var(--other-color);
}

.container-main-content-text{
    font-size: 1.5rem;
    font-family: var(--secondary-font);
    font-weight: 400;
}
.container-main-content-button{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}


.container-main-content-button-title{
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 1.5rem;
}

.container-main-content-button-link{
    /* background-color: #22d4fd; */
    
    /* Iniciar flexbox */
    display: flex;
    /* Colocar itens no centro */
    justify-content: center;
    /* Espaçamento entre itens */
    gap: 16px;

    border: 2px solid #22d4fd;
    width: 50%;
    padding: 21.5px 0px;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 8px;
    text-decoration: none;
    color: var(--secondary-color);
    font-family: var(--secondary-font);
    font-weight: 600;
}

.container-main-content-button-link:hover{
    background-color: var(--hover-color);
}

.container-main-image{
    width: 50%;
}

.container-footer{
    padding: 24px;
    color: var(--main-color);
    background-color: var(--other-color);
    text-align: center;
    font-family: var(--secondary-font);
    font-size: 1.5rem;
    font-weight: 400;
}

/* Checa o tamanho da página. Se fica abaixo ou igual ao que foi colocado, vai aplicar os estilos abaixo. */
@media(max-width: 1200px){

    .container-header{
        padding: 10%;
    }

    .container-header-nav{
        justify-content: center;
    }

    .container-main{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .container-main-content{
        width: auto;
    }
}